In [6]:
import pandas as pd

In [67]:
df = pd.read_csv("Uncleaned_data1.csv")

In [68]:
df

                     Name   variable   value
0           Bobby JacksOn        Age      30
1            LesLie TErRy        Age      62
2             DaNnY sMitH        Age      76
3            andrEw waTtS        Age      28
4           adrIENNE bEll        Age      43
...                   ...        ...     ...
832495  eLIZABeTH jaCkSOn  Ethnicity  Medium
832496         KYle pEREz  Ethnicity    High
832497       HEATher WaNG  Ethnicity   Small
832498     JENniFER JOneS  Ethnicity  Medium
832499       jAMES GARCiA  Ethnicity    High

[832500 rows x 3 columns]

In [69]:
df.shape

(832500, 3)

In [70]:
df['variable'].unique()

array(['Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type',
       'Discharge Date', 'Medication', 'Test Results', 'Ethnicity'],
      dtype=object)

In [71]:
age = df[df['variable']=='Age']
gender = df[df['variable']=='Gender']
Blood_Type = df[df['variable']=='Blood Type']
medical_condition = df[df['variable']=='Medical Condition']
admission = df[df['variable']=='Date of Admission']
docter = df[df['variable']=='Doctor']
hospital = df[df['variable']=='Hospital']
insurance_provider = df[df['variable']=='Insurance Provider']
bill_amount = df[df['variable']=='Billing Amount']
room_num = df[df['variable']=='Room Number']
admission_type = df[df['variable']=='Admission Type']
discharge = df[df['variable']=='Discharge Date']
medication = df[df['variable']=='Medication']
result = df[df['variable']=='Test Results']
ethnicity = df[df['variable']=='Ethnicity']

In [72]:
with pd.ExcelWriter("NewDf.xlsx") as writer:
   
    # use to_excel function and specify the sheet_name and index 
    # to store the dataframe in specified sheet
    gender.to_excel(writer, sheet_name="Gender", index=False)
    Blood_Type.to_excel(writer, sheet_name="Blood Type", index=False)
    medical_condition.to_excel(writer, sheet_name="Medical Condition", index=False)
    admission.to_excel(writer, sheet_name="Date of Admission", index=False)
    docter.to_excel(writer, sheet_name="Doctor", index=False)
    hospital.to_excel(writer, sheet_name="Hospital", index=False)
    insurance_provider.to_excel(writer, sheet_name="Insurance Provider", index=False)
    bill_amount.to_excel(writer, sheet_name="Billing Amount", index=False)
    room_num.to_excel(writer, sheet_name="Room Number", index=False)
    admission_type.to_excel(writer, sheet_name="Admission Type", index=False)
    discharge.to_excel(writer, sheet_name="Discharge Date", index=False)
    medication.to_excel(writer, sheet_name="Medication", index=False)
    result.to_excel(writer, sheet_name="Test Results", index=False)
    ethnicity.to_excel(writer, sheet_name="Ethnicity", index=False)
    age.to_excel(writer, sheet_name="Age", index=False)

In [10]:
df1 = pd.read_excel("NewDf.xlsx", sheet_name="Hospital")
df1.rename(columns={'value': 'Hospital'}, inplace=True)
df1 = df1.drop('variable', axis=1)

In [11]:
df2 = pd.read_excel("NewDf.xlsx", sheet_name="Ethnicity")
df2.rename(columns={'value': 'Ethnicity'}, inplace=True)
df2 = df2.drop('variable', axis=1)

In [12]:
df3 = pd.read_excel("NewDf.xlsx", sheet_name="Test Results")
df3.rename(columns={'value': 'Test Results'}, inplace=True)
df3 = df3.drop('variable', axis=1)

In [13]:
df4 = pd.read_excel("NewDf.xlsx", sheet_name="Medication")
df4.rename(columns={'value': 'Medication'}, inplace=True)
df4 = df4.drop('variable', axis=1)

In [14]:
df5 = pd.read_excel("NewDf.xlsx", sheet_name="Discharge Date")
df5.rename(columns={'value': 'Discharge Date'}, inplace=True)
df5 = df5.drop('variable', axis=1)

In [15]:
df6 = pd.read_excel("NewDf.xlsx", sheet_name="Admission Type")
df6.rename(columns={'value': 'Admission Type'}, inplace=True)
df6 = df6.drop('variable', axis=1)

In [16]:
df7 = pd.read_excel("NewDf.xlsx", sheet_name="Room Number")
df7.rename(columns={'value': 'Room Number'}, inplace=True)
df7 = df7.drop('variable', axis=1)

In [17]:
df8 = pd.read_excel("NewDf.xlsx", sheet_name="Billing Amount")
df8.rename(columns={'value': 'Billing Amount'}, inplace=True)
df8 = df8.drop('variable', axis=1)

In [18]:
df9 = pd.read_excel("NewDf.xlsx", sheet_name="Insurance Provider")
df9.rename(columns={'value': 'Insurance Provider'}, inplace=True)
df9 = df9.drop('variable', axis=1)

In [19]:
df10 = pd.read_excel("NewDf.xlsx", sheet_name="Doctor")
df10.rename(columns={'value': 'Doctor'}, inplace=True)
df10 = df10.drop('variable', axis=1)

In [20]:
df11 = pd.read_excel("NewDf.xlsx", sheet_name="Date of Admission")
df11.rename(columns={'value': 'Date of Admission'}, inplace=True)
df11 = df11.drop('variable', axis=1)

In [21]:
df12 = pd.read_excel("NewDf.xlsx", sheet_name="Medical Condition")
df12.rename(columns={'value': 'Medical Condition'}, inplace=True)
df12 = df12.drop('variable', axis=1)

In [22]:
df13 = pd.read_excel("NewDf.xlsx", sheet_name="Blood Type")
df13.rename(columns={'value': 'Blood Type'}, inplace=True)
df13 = df13.drop('variable', axis=1)

In [23]:
df14 = pd.read_excel("NewDf.xlsx", sheet_name="Gender")
df14.rename(columns={'value': 'Gender'}, inplace=True)
df14 = df14.drop('variable', axis=1)

In [24]:
df15 = pd.read_excel("NewDf.xlsx", sheet_name="Age")
df15.rename(columns={'value': 'Age'}, inplace=True)
df15 = df15.drop('variable', axis=1)

In [25]:
combined_df = pd.concat([df15,df14, df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], ignore_index=True)
print(combined_df)

                     Name   Age Gender Blood Type Medical Condition  \
0           Bobby JacksOn  30.0    NaN        NaN               NaN
1            LesLie TErRy  62.0    NaN        NaN               NaN
2             DaNnY sMitH  76.0    NaN        NaN               NaN
3            andrEw waTtS  28.0    NaN        NaN               NaN
4           adrIENNE bEll  43.0    NaN        NaN               NaN
...                   ...   ...    ...        ...               ...
832495  eLIZABeTH jaCkSOn   NaN    NaN        NaN               NaN
832496         KYle pEREz   NaN    NaN        NaN               NaN
832497       HEATher WaNG   NaN    NaN        NaN               NaN
832498     JENniFER JOneS   NaN    NaN        NaN               NaN
832499       jAMES GARCiA   NaN    NaN        NaN               NaN

       Date of Admission Doctor Insurance Provider  Billing Amount  \
0                    NaN    NaN                NaN             NaN
1                    NaN    NaN                NaN             NaN
2                    NaN    NaN                NaN             NaN
3                    NaN    NaN                NaN             NaN
4                    NaN    NaN                NaN             NaN
...                  ...    ...                ...             ...
832495               NaN    NaN                NaN             NaN
832496               NaN    NaN                NaN             NaN
832497               NaN    NaN                NaN             NaN
832498               NaN    NaN                NaN             NaN
832499               NaN    NaN                NaN             NaN

        Room Number Admission Type Discharge Date Medication Test Results  \
0               NaN            NaN            NaN        NaN          NaN
1               NaN            NaN            NaN        NaN          NaN
2               NaN            NaN            NaN        NaN          NaN
3               NaN            NaN            NaN        NaN          NaN
4               NaN            NaN            NaN        NaN          NaN
...             ...            ...            ...        ...          ...
832495          NaN            NaN            NaN        NaN          NaN
832496          NaN            NaN            NaN        NaN          NaN
832497          NaN            NaN            NaN        NaN          NaN
832498          NaN            NaN            NaN        NaN          NaN
832499          NaN            NaN            NaN        NaN          NaN

       Ethnicity                      Hospital
0            NaN                           NaN
1            NaN                           NaN
2            NaN                           NaN
3            NaN                           NaN
4            NaN                           NaN
...          ...                           ...
832495       NaN                Jones-Thompson
832496       NaN                  Tucker-Moyer
832497       NaN  and Mahoney Johnson Vasquez,
832498       NaN      Jackson Todd and Castro,
832499       NaN                Henry Sons and

[832500 rows x 16 columns]

In [26]:
ready_to_clean = combined_df.to_csv('ready_to_clean.csv', index=False)

In [27]:
Df_ready = pd.read_csv("ready_to_clean.csv", index_col=False, dtype='unicode')

In [28]:
inner_join = pd.merge(df14, df13, on ='Name', how ='inner')
inner_join1 = pd.merge(df12, df11, on ='Name', how ='inner')
inner_join2 = pd.merge(df10,df9, on ='Name', how ='inner')
inner_join3 = pd.merge(df8, df7, on ='Name', how ='inner')
inner_join4 = pd.merge(df6, df5, on ='Name', how ='inner')
inner_join5 = pd.merge(df4, df3, on ='Name', how ='inner')
inner_join6 = pd.merge(df2, df1, on ='Name', how ='inner')

In [29]:
m1 = pd.merge(left=inner_join, right=inner_join1, how='left')
m2 = pd.merge(left=m1, right=inner_join2, how='left')
m3 = pd.merge(left=m2, right=inner_join3, how='left')
m4 = pd.merge(left=m3, right=inner_join4, how='left')
m5 = pd.merge(left=m4, right=inner_join5, how='left')

In [30]:
m5

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,Male,B-,Cancer,1/31/2024,Matthew Smith,Blue Cross,18856.281310,328,Urgent,2/2/2024,Paracetamol,Normal
1,LesLie TErRy,Male,A+,Obesity,8/20/2019,Samantha Davies,Medicare,33643.327290,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,DaNnY sMitH,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Aetna,27955.096080,205,Emergency,10/7/2022,Aspirin,Normal
3,andrEw waTtS,Female,O+,Diabetes,11/18/2020,Kevin Wells,Medicare,37909.782410,450,Elective,12/18/2020,Ibuprofen,Abnormal
4,adrIENNE bEll,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,Aetna,14238.317810,458,Urgent,10/9/2022,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23128497,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive
23128498,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive
23128499,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive
23128500,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive
23128501,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive

In [35]:
duplicates = m5.drop_duplicates()

In [36]:
duplicates

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,Male,B-,Cancer,1/31/2024,Matthew Smith,Blue Cross,18856.281310,328,Urgent,2/2/2024,Paracetamol,Normal
1,LesLie TErRy,Male,A+,Obesity,8/20/2019,Samantha Davies,Medicare,33643.327290,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,DaNnY sMitH,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Aetna,27955.096080,205,Emergency,10/7/2022,Aspirin,Normal
3,andrEw waTtS,Female,O+,Diabetes,11/18/2020,Kevin Wells,Medicare,37909.782410,450,Elective,12/18/2020,Ibuprofen,Abnormal
4,adrIENNE bEll,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,Aetna,14238.317810,458,Urgent,10/9/2022,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23124402,JOSepH PaUl,Male,O+,Hypertension,6/28/2022,Arthur Fleming,Blue Cross,24747.348920,256,Emergency,7/9/2022,Paracetamol,Inconclusive
23124403,braDleY dAniEL,Male,B+,Cancer,4/4/2020,Mark Moore,Medicare,40657.582490,463,Elective,4/17/2020,Aspirin,Abnormal
23124404,LiSa sIMPsoN,Male,O-,Cancer,9/8/2023,Deborah Sutton,Blue Cross,8441.147064,411,Elective,9/22/2023,Aspirin,Abnormal
23124405,RoGER farRELl,Male,B-,Cancer,10/13/2020,Mary Bartlett,Blue Cross,34934.284110,144,Elective,10/14/2020,Penicillin,Abnormal
23124406,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive

In [37]:
m6 = pd.merge(left=duplicates, right=inner_join6, how='left')
new_df = m6.drop_duplicates()

In [38]:
new_df

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Ethnicity,Hospital
0,Bobby JacksOn,Male,B-,Cancer,1/31/2024,Matthew Smith,Blue Cross,18856.281310,328,Urgent,2/2/2024,Paracetamol,Normal,Small,Sons and Miller
1,LesLie TErRy,Male,A+,Obesity,8/20/2019,Samantha Davies,Medicare,33643.327290,265,Emergency,8/26/2019,Ibuprofen,Inconclusive,Medium,Kim Inc
2,DaNnY sMitH,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Aetna,27955.096080,205,Emergency,10/7/2022,Aspirin,Normal,High,Cook PLC
3,andrEw waTtS,Female,O+,Diabetes,11/18/2020,Kevin Wells,Medicare,37909.782410,450,Elective,12/18/2020,Ibuprofen,Abnormal,Small,"Hernandez Rogers and Vang,"
4,adrIENNE bEll,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,Aetna,14238.317810,458,Urgent,10/9/2022,Penicillin,Abnormal,Medium,White-White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109993,JOSepH PaUl,Male,O+,Hypertension,6/28/2022,Arthur Fleming,Blue Cross,24747.348920,256,Emergency,7/9/2022,Paracetamol,Inconclusive,Small,"and Williams, Brown Mckenzie"
109994,braDleY dAniEL,Male,B+,Cancer,4/4/2020,Mark Moore,Medicare,40657.582490,463,Elective,4/17/2020,Aspirin,Abnormal,Medium,Wise Ltd
109995,LiSa sIMPsoN,Male,O-,Cancer,9/8/2023,Deborah Sutton,Blue Cross,8441.147064,411,Elective,9/22/2023,Aspirin,Abnormal,High,"Moreno Murphy, Griffith and"
109996,RoGER farRELl,Male,B-,Cancer,10/13/2020,Mary Bartlett,Blue Cross,34934.284110,144,Elective,10/14/2020,Penicillin,Abnormal,Small,Sons Smith and
109997,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive,Medium,Carter Inc

In [39]:
new_df.drop_duplicates()

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Ethnicity,Hospital
0,Bobby JacksOn,Male,B-,Cancer,1/31/2024,Matthew Smith,Blue Cross,18856.281310,328,Urgent,2/2/2024,Paracetamol,Normal,Small,Sons and Miller
1,LesLie TErRy,Male,A+,Obesity,8/20/2019,Samantha Davies,Medicare,33643.327290,265,Emergency,8/26/2019,Ibuprofen,Inconclusive,Medium,Kim Inc
2,DaNnY sMitH,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Aetna,27955.096080,205,Emergency,10/7/2022,Aspirin,Normal,High,Cook PLC
3,andrEw waTtS,Female,O+,Diabetes,11/18/2020,Kevin Wells,Medicare,37909.782410,450,Elective,12/18/2020,Ibuprofen,Abnormal,Small,"Hernandez Rogers and Vang,"
4,adrIENNE bEll,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,Aetna,14238.317810,458,Urgent,10/9/2022,Penicillin,Abnormal,Medium,White-White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109993,JOSepH PaUl,Male,O+,Hypertension,6/28/2022,Arthur Fleming,Blue Cross,24747.348920,256,Emergency,7/9/2022,Paracetamol,Inconclusive,Small,"and Williams, Brown Mckenzie"
109994,braDleY dAniEL,Male,B+,Cancer,4/4/2020,Mark Moore,Medicare,40657.582490,463,Elective,4/17/2020,Aspirin,Abnormal,Medium,Wise Ltd
109995,LiSa sIMPsoN,Male,O-,Cancer,9/8/2023,Deborah Sutton,Blue Cross,8441.147064,411,Elective,9/22/2023,Aspirin,Abnormal,High,"Moreno Murphy, Griffith and"
109996,RoGER farRELl,Male,B-,Cancer,10/13/2020,Mary Bartlett,Blue Cross,34934.284110,144,Elective,10/14/2020,Penicillin,Abnormal,Small,Sons Smith and
109997,kaTheRIne WeBSTer,Male,B+,Arthritis,1/26/2022,Alec May,UnitedHealthcare,8926.285937,322,Elective,2/3/2022,Aspirin,Inconclusive,Medium,Carter Inc

In [ ]:
new_df.drop_duplicates()

In [64]:
df_drop = new_df

In [66]:
df_drop

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Ethnicity,Hospital
0,Bobby JacksOn,Male,B-,Cancer,1/31/2024,Matthew Smith,Blue Cross,18856.281310,328,Urgent,2/2/2024,Paracetamol,Normal,Small,Sons and Miller
1,LesLie TErRy,Male,A+,Obesity,8/20/2019,Samantha Davies,Medicare,33643.327290,265,Emergency,8/26/2019,Ibuprofen,Inconclusive,Medium,Kim Inc
2,DaNnY sMitH,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Aetna,27955.096080,205,Emergency,10/7/2022,Aspirin,Normal,High,Cook PLC
3,andrEw waTtS,Female,O+,Diabetes,11/18/2020,Kevin Wells,Medicare,37909.782410,450,Elective,12/18/2020,Ibuprofen,Abnormal,Small,"Hernandez Rogers and Vang,"
4,adrIENNE bEll,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,Aetna,14238.317810,458,Urgent,10/9/2022,Penicillin,Abnormal,Medium,White-White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77377,ChRiSTIna cURrY,Female,AB+,Hypertension,10/11/2020,Holly Maldonado,Medicare,1245.900291,127,Elective,11/1/2020,Penicillin,Inconclusive,Small,"Lawson, Cochran Manning and"
77378,LuIs cOlE,Female,B+,Obesity,10/18/2023,Carolyn Mccormick,UnitedHealthcare,20893.600520,192,Emergency,11/13/2023,Penicillin,Normal,Medium,Price-Wise
77379,bReNdAN mCDOWeLl,Female,A-,Hypertension,11/17/2023,Patricia Garcia,Cigna,39997.305610,495,Urgent,11/27/2023,Lipitor,Inconclusive,High,Sanders-Harvey
77380,dIane WiLLIaMS,Female,AB+,Asthma,3/14/2024,Anne Garcia,Medicare,30707.805270,367,Urgent,4/13/2024,Paracetamol,Normal,Small,Smith Inc
77381,ANnA crUZ,Female,AB+,Arthritis,2/3/2023,Travis Brooks,Aetna,16286.772740,461,Emergency,2/11/2023,Lipitor,Inconclusive,Medium,"Hill, Davis Rodriguez and"

In [67]:
newDf1 = df_drop.to_csv("healthcare_dataset1.csv", index=False)

In [71]:
import glob 
# getting csv files from the folder 
path = "C:/Users/Nilla/DFproject"

# read all the files with extension .csv
csv = glob.glob(path + "\*.csv")
excel = glob.glob(path + "\*.xlsx")
#print('File names:\n', filenames)

# for loop to iterate all csv files
for file in csv:
   # reading csv files
   print("\n Reading file =",file)
   #print(pd.read_csv(file))
for file in excel:
   # reading csv files
   print("\n Reading file =",file)
   #print(pd.read_csv(file))

 Reading file = C:/Users/Nilla/DFproject\healthcare_dataset.csv

 Reading file = C:/Users/Nilla/DFproject\healthcare_dataset1.csv

 Reading file = C:/Users/Nilla/DFproject\ready_to_clean.csv

 Reading file = C:/Users/Nilla/DFproject\ready_to_clean1.csv

 Reading file = C:/Users/Nilla/DFproject\ready_to_clean2.csv

 Reading file = C:/Users/Nilla/DFproject\ready_to_clean3.csv

 Reading file = C:/Users/Nilla/DFproject\ready_to_clean4.csv

 Reading file = C:/Users/Nilla/DFproject\Uncleaned_data1.csv

 Reading file = C:/Users/Nilla/DFproject\NewDf.xlsx

In [72]:
import os
print(len([file for file in os.listdir('C:/Users/Nilla/DFproject') if os.path.isfile(os.path.join('C:/Users/Nilla/DFproject',file))]))

9